/* /Layout/MainLayout.razor.rz.scp.css */
/* styles-fluent-page.css */

.page[b-yeafbkyj0k] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-yeafbkyj0k] {
    flex: 1;
}

.sidebar[b-yeafbkyj0k] {
    background: linear-gradient(180deg, rgb(50, 50, 50) 0%, rgb(30, 30, 30) 70%);
    color: #fff;
}

.top-row[b-yeafbkyj0k] {
    background-color: #333;
    border-bottom: 1px solid #555;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-yeafbkyj0k]  a,
    .top-row[b-yeafbkyj0k]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        color: #fff;
    }

        .top-row[b-yeafbkyj0k]  a:hover,
        .top-row[b-yeafbkyj0k]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-yeafbkyj0k]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-yeafbkyj0k] {
        justify-content: space-between;
    }

        .top-row[b-yeafbkyj0k]  a,
        .top-row[b-yeafbkyj0k]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-yeafbkyj0k] {
        flex-direction: row;
    }

    .sidebar[b-yeafbkyj0k] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-yeafbkyj0k] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-yeafbkyj0k]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-yeafbkyj0k],
    article[b-yeafbkyj0k] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-yeafbkyj0k] {
    background: lightgray;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-yeafbkyj0k] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
        color: #555;
    }
/* /Layout/NavMenu.razor.rz.scp.css */
/* styles-fluent-navbar.css */

/* Reset some default styles */
body[b-r8nx75oyoc], h1[b-r8nx75oyoc], h2[b-r8nx75oyoc], p[b-r8nx75oyoc], ul[b-r8nx75oyoc], li[b-r8nx75oyoc] {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Navbar Section */
.navbar-toggler[b-r8nx75oyoc] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: #fff;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked[b-r8nx75oyoc] {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row[b-r8nx75oyoc] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-r8nx75oyoc] {
    font-size: 1.1rem;
    color: #fff;
}

.bi[b-r8nx75oyoc] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-r8nx75oyoc],
.bi-plus-square-fill-nav-menu[b-r8nx75oyoc],
.bi-list-nested-nav-menu[b-r8nx75oyoc] {
    fill: #fff;
}

.nav-item[b-r8nx75oyoc] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-r8nx75oyoc] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-r8nx75oyoc] {
        padding-bottom: 1rem;
    }

    .nav-item[b-r8nx75oyoc]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item[b-r8nx75oyoc]  a.active {
        background-color: rgba(255, 255, 255, 0.37);
        color: #fff;
    }

    .nav-item[b-r8nx75oyoc]  .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }

.nav-scrollable[b-r8nx75oyoc] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-r8nx75oyoc] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-r8nx75oyoc] {
        display: none;
    }

    .nav-scrollable[b-r8nx75oyoc] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Education.razor.rz.scp.css */
/* styles-education.css */

/* Reset some default styles */
body[b-b4hqlqi8iz], h1[b-b4hqlqi8iz], h2[b-b4hqlqi8iz], p[b-b4hqlqi8iz], ul[b-b4hqlqi8iz], li[b-b4hqlqi8iz] {
    margin: 0;
    padding: 0;
    list-style: none;
}

body[b-b4hqlqi8iz] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #1e1e1e; /* Dark background color */
}

/* Body Section */
.body[b-b4hqlqi8iz] {
    padding: 20px;
    background-color: #1e1e1e; /* Dark body background */
}

.h1[b-b4hqlqi8iz] {
    color: #fff;
}

.h2[b-b4hqlqi8iz], .p[b-b4hqlqi8iz], .ul[b-b4hqlqi8iz], .li[b-b4hqlqi8iz] {
    color: #ccc;
}

/* Education Section Styles */
section[b-b4hqlqi8iz] {
    margin-bottom: 30px;
}

.achievements[b-b4hqlqi8iz], .experiences[b-b4hqlqi8iz] {
    margin-top: 10px;
}

    .achievements .p[b-b4hqlqi8iz], .experiences .p[b-b4hqlqi8iz] {
        font-weight: bold;
    }

/* Responsive Styles */
@media (max-width: 768px) {
    .h2[b-b4hqlqi8iz] {
        font-size: 1.5rem;
    }

    .p[b-b4hqlqi8iz] {
        font-size: 1rem;
    }

    .li[b-b4hqlqi8iz] {
        font-size: 1rem;
    }
}
/* /Pages/Experience.razor.rz.scp.css */
/* Reset some default styles */
body[b-u9sf2wlj8w], h1[b-u9sf2wlj8w], h2[b-u9sf2wlj8w], h3[b-u9sf2wlj8w], p[b-u9sf2wlj8w], span[b-u9sf2wlj8w], hr[b-u9sf2wlj8w] {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body[b-u9sf2wlj8w] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #1e1e1e; /* Dark background color */
}

/* Body Section */
.body[b-u9sf2wlj8w] {
    padding: 20px;
    background-color: #1e1e1e; /* Dark body background */
}

.h1[b-u9sf2wlj8w] {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h2[b-u9sf2wlj8w] {
    color: #ddd;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.h3[b-u9sf2wlj8w] {
    color: #ddd;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.p[b-u9sf2wlj8w] {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 10px;
}

.italic[b-u9sf2wlj8w] {
    font-style: italic;
}

.divider[b-u9sf2wlj8w] {
    border-top: 1px solid #666;
    margin: 20px 0;
}

.experience-details[b-u9sf2wlj8w] {
    margin-bottom: 40px;
}

    .experience-details .experience-highlights[b-u9sf2wlj8w] {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .experience-details .highlight[b-u9sf2wlj8w] {
        flex-basis: calc(33.33% - 20px);
    }

/* Responsive Styles */
@media (max-width: 768px) {
    .h1[b-u9sf2wlj8w] {
        font-size: 20px;
    }

    .h2[b-u9sf2wlj8w] {
        font-size: 18px;
    }

    .h3[b-u9sf2wlj8w] {
        font-size: 16px;
    }

    .p[b-u9sf2wlj8w] {
        font-size: 14px;
    }

    .experience-details .highlight[b-u9sf2wlj8w] {
        flex-basis: 100%;
    }
}
/* /Pages/Home.razor.rz.scp.css */
/* styles-fluent-dark.css */

/* Reset some default styles */
body[b-cnvp5ly832], h1[b-cnvp5ly832], h2[b-cnvp5ly832], p[b-cnvp5ly832], ul[b-cnvp5ly832], li[b-cnvp5ly832] {
    margin: 0;
    padding: 0;
    list-style: none;
}

body[b-cnvp5ly832] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #1e1e1e; /* Dark background color */
}

/* Header Section */
.header[b-cnvp5ly832] {
    background-color: #2c2c2c; /* Dark header background */
    color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .header h1[b-cnvp5ly832] {
        font-size: 2.5rem;
        color: #fff;
    }

    .header p[b-cnvp5ly832] {
        font-size: 1rem;
        color: #ccc;
    }

/* Body Section */
.body[b-cnvp5ly832] {
    padding: 20px;
    background-color: #1e1e1e; /* Dark body background */
}

.h2[b-cnvp5ly832] {
    font-size: 2rem;
    color: #fff;
}

.p[b-cnvp5ly832] {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ccc;
}

/* Contact Section */
.ul[b-cnvp5ly832] {
    padding: 0;
}

.li[b-cnvp5ly832] {
    font-size: 1.2rem;
    color: #ccc;
    margin-bottom: 10px;
}

.section[b-cnvp5ly832] {
    opacity: 0;
    transition: opacity 0.5s ease;
}

    .section.visible[b-cnvp5ly832] {
        opacity: 1;
    }


/* Footer Section */
.footer[b-cnvp5ly832] {
    text-align: center;
    padding: 20px;
    background-color: #2c2c2c; /* Dark footer background */
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header h1[b-cnvp5ly832] {
        font-size: 2rem;
    }

    .header p[b-cnvp5ly832] {
        font-size: 0.9rem;
    }

    .h2[b-cnvp5ly832] {
        font-size: 1.5rem;
    }

    .p[b-cnvp5ly832] {
        font-size: 1rem;
    }

    .li[b-cnvp5ly832] {
        font-size: 1rem;
    }
}

/* /Pages/Projects.razor.rz.scp.css */
/* Reset some default styles */
body[b-jhbcu7axjv], h1[b-jhbcu7axjv], h2[b-jhbcu7axjv], h3[b-jhbcu7axjv], p[b-jhbcu7axjv], span[b-jhbcu7axjv], hr[b-jhbcu7axjv], a[b-jhbcu7axjv] {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body[b-jhbcu7axjv] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ccc; /* Default text color */
    background-color: #1e1e1e; /* Dark background color */
}

/* Body Section */
.body[b-jhbcu7axjv] {
    padding: 20px;
    background-color: #1e1e1e; /* Dark body background */
}

.h1[b-jhbcu7axjv] {
    color: #fff; /* White h1 text color */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h2[b-jhbcu7axjv], .h3[b-jhbcu7axjv] {
    color: #ddd; /* Light gray h2 and h3 text color */
    font-size: 20px; /* Adjust size as needed */
    font-weight: bold;
    margin-bottom: 10px;
}

.p[b-jhbcu7axjv] {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.link[b-jhbcu7axjv] {
    color: #ccc; /* Light gray link text color */
}

.separator[b-jhbcu7axjv] {
    border-top: 1px solid #666; /* Medium gray separator line */
    margin: 20px 0;
}

.project-section[b-jhbcu7axjv] {
    margin-bottom: 20px;
}

.project-table td[b-jhbcu7axjv] {
    color: #ccc; /* Light gray text color in the table */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .h1[b-jhbcu7axjv] {
        font-size: 20px;
    }

    .h2[b-jhbcu7axjv] {
        font-size: 18px;
    }

    .h3[b-jhbcu7axjv] {
        font-size: 16px;
    }

    .p[b-jhbcu7axjv] {
        font-size: 14px;
    }
}
/* /Pages/Skills.razor.rz.scp.css */
/* skills-styles.css */

/* Reset some default styles */
body[b-qavw3jj3zb], h1[b-qavw3jj3zb], h2[b-qavw3jj3zb], p[b-qavw3jj3zb], a[b-qavw3jj3zb] {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body[b-qavw3jj3zb] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #1e1e1e; /* Dark background color */
}

/* Body Section */
.body[b-qavw3jj3zb] {
    padding: 20px;
    background-color: #1e1e1e; /* Dark body background */
}

.h1[b-qavw3jj3zb] {
    color: #fff; /* White color for h1 */
}

.h2[b-qavw3jj3zb] {
    color: #ddd; /* Light gray color for h2 */
}

.p[b-qavw3jj3zb] {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ccc;
}

/* Skills Section */
.skills-section[b-qavw3jj3zb] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-category[b-qavw3jj3zb] {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .h1[b-qavw3jj3zb], .h2[b-qavw3jj3zb] {
        font-size: 2rem;
    }

    .p[b-qavw3jj3zb] {
        font-size: 1rem;
    }

    .skills-section[b-qavw3jj3zb] {
        flex-direction: column;
    }

    .skill-category[b-qavw3jj3zb] {
        flex-basis: 100%;
    }
}

/* Additional Styles */
.h2 i[b-qavw3jj3zb] {
    margin-right: 10px;
    color: #61dafb; /* React Blue, you can customize the color */
}
