/* styles-education.css */

/* Reset some default styles */
body[b-copzg6cb3o], h1[b-copzg6cb3o], h2[b-copzg6cb3o], p[b-copzg6cb3o], ul[b-copzg6cb3o], li[b-copzg6cb3o] {
    margin: 0;
    padding: 0;
    list-style: none;
}

body[b-copzg6cb3o] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #1e1e1e; /* Dark background color */
}

/* Body Section */
.body[b-copzg6cb3o] {
    padding: 20px;
    background-color: #1e1e1e; /* Dark body background */
}

.h1[b-copzg6cb3o] {
    color: #fff;
}

.h2[b-copzg6cb3o], .p[b-copzg6cb3o], .ul[b-copzg6cb3o], .li[b-copzg6cb3o] {
    color: #ccc;
}

/* Education Section Styles */
section[b-copzg6cb3o] {
    margin-bottom: 30px;
}

.achievements[b-copzg6cb3o], .experiences[b-copzg6cb3o] {
    margin-top: 10px;
}

    .achievements .p[b-copzg6cb3o], .experiences .p[b-copzg6cb3o] {
        font-weight: bold;
    }

/* Responsive Styles */
@media (max-width: 768px) {
    .h2[b-copzg6cb3o] {
        font-size: 1.5rem;
    }

    .p[b-copzg6cb3o] {
        font-size: 1rem;
    }

    .li[b-copzg6cb3o] {
        font-size: 1rem;
    }
}
