@page "/Education"
<!-- Education Section -->
<PageTitle>Education</PageTitle>
<body class="body">
    <h1 class="h1">Education</h1>

    <!-- University of California – Davis -->
    <section>
        <h2 class="h2">University of California – Davis (Fall 2023 – Spring 2025)</h2>
        <p class="p">Major: Master of Computer Science</p>
        <p class="p">Research Direction: GFW Security Analysis</p>
        <p class="p">During my time at UC Davis, I delved into the complexities of GFW (Great Firewall) through a multidisciplinary approach encompassing technology, politics, and law.</p>

        <div class="achievements">
            <p class="p">Academic Achievements:</p>
            <ul class="ul">
                <li class="li">Conducted in-depth technical research on GFW evasion techniques and countermeasures.</li>
                <li class="li">Explored the political implications of GFW on internet freedom and digital rights.</li>
                <li class="li">Studied the legal frameworks surrounding internet censorship and contributed to policy discussions.</li>
            </ul>
        </div>

        <p class="p">My academic journey at UC Davis not only enhanced my technical expertise but also deepened my understanding of the socio-political aspects of cybersecurity.</p>

        <p class="p">Current GPA: 3.7/4.0</p>
    </section>

    <!-- Truman State University -->
    <section>
        <h2 class="h2">Truman State University (Fall 2019 – Spring 2023)</h2>
        <p class="p">Major: Computer Science</p>
        <p class="p">Location: Kirksville, MO</p>
        <p class="p">My undergraduate years at Truman State University laid the foundation for my academic journey. I not only excelled academically but also achieved notable distinctions:</p>

        <div class="achievements">
            <p class="p">Achievements:</p>
            <ul class="ul">
                <li class="li">President’s Honor List with a 4.0 GPA for the spring semester of 2016, Vice-President’s Honor List since then.</li>
                <li class="li">Received the Outstanding Computer Science Student Award in recognition of my academic achievements and contributions to the department.</li>
                <li class="li">Engaged in collaborative research projects, honing my teamwork and problem-solving skills.</li>
            </ul>
        </div>

        <p class="p">Truman State University played a pivotal role in shaping my analytical mindset and instilling a passion for continuous learning.</p>

        <p class="p">GPA: 3.64/4.0</p>
    </section>

    <!-- Impact and Growth -->
    <section>
        <h2 class="h2">Impact and Growth</h2>
        <p class="p">Both UC Davis and Truman State University have played integral roles in my personal and professional development. These institutions, each with its unique academic environment, have contributed significantly to my journey:</p>

        <div class="experiences">
            <p class="p">Experiences:</p>
            <ul class="ul">
                <li class="li">UC Davis provided an immersive environment for advanced research and critical thinking, fostering a deep understanding of cybersecurity issues and their broader implications.</li>
                <li class="li">Truman State University laid the groundwork for my technical skills and introduced me to the fundamentals of computer science, setting the stage for my future academic pursuits.</li>
            </ul>
        </div>

        <p class="p">The combination of these experiences has shaped me into a versatile and forward-thinking professional, ready to tackle challenges in the dynamic field of computer science and cybersecurity.</p>
    </section>
</body>
