@page "/Experience"
<!-- Experience Section -->
<PageTitle>Related Experience</PageTitle>
<body class="body">
    <h1 class="h1">Related Experience</h1>

    <!-- University of California – Student Computer Technician -->
    <section class="experience-details">
        <h2 class="h2">University of California – Student Computer Technician (Oct 2023 – Current)</h2>
        <p class="p italic">In my current role, I contribute to the smooth functioning of the university's computer systems, emphasizing:</p>

        <div class="experience-highlights">
            <div class="highlight">
                <h3 class="h3">Organizational Skills</h3>
                <p class="p">Demonstrated proficiency in maintaining a busy lab and office environment.</p>
            </div>

            <div class="highlight">
                <h3 class="h3">Lab Management</h3>
                <p class="p">Responsibilities include opening and closing the instructional lab.</p>
            </div>

            <div class="highlight">
                <h3 class="h3">Hardware and Software Experience</h3>
                <p class="p">Hands-on experience with both Mac and Windows hardware and system software.</p>
            </div>
        </div>

        <p class="p">These experiences have <span class="italic">sharpened my technical acumen</span> and instilled a <span class="italic">disciplined approach to handling diverse computing environments</span>.</p>
    </section>

    <hr class="divider">

    <!-- Truman State University – Computer Science Fundamentals Class Teaching Assistant -->
    <section class="experience-details">
        <h2 class="h2">Truman State University – Computer Science Fundamentals Class Teaching Assistant (Jan 2023 – May 2023)</h2>
        <p class="p italic">As a Teaching Assistant, I actively contributed to the learning experience of students by:</p>

        <div class="experience-highlights">
            <div class="highlight">
                <h3 class="h3">Coding Assistance</h3>
                <p class="p">Grading student work and answering questions related to coding in C++ and object-oriented programming.</p>
            </div>

            <div class="highlight">
                <h3 class="h3">Hands-on Sessions</h3>
                <p class="p">Facilitating hands-on lab sessions to help students understand complex concepts.</p>
            </div>

            <div class="highlight">
                <h3 class="h3">Feedback and Guidance</h3>
                <p class="p">Providing constructive feedback to support the development of students' coding skills.</p>
            </div>
        </div>

        <p class="p">This teaching role not only <span class="italic">solidified my understanding of fundamental programming principles</span> but also <span class="italic">honed my ability to communicate intricate concepts effectively</span>.</p>
    </section>

    <hr class="divider">

    <!-- University of North America – System Administrator -->
    <section class="experience-details">
        <h2 class="h2">University of North America – System Administrator (May 2022 – Aug 2022)</h2>
        <p class="p italic">As a System Administrator, I took on significant responsibilities, including:</p>

        <div class="experience-highlights">
            <div class="highlight">
                <h3 class="h3">Load Balancing</h3>
                <p class="p">Built a load balancing controller to ensure network services function seamlessly under high traffic.</p>
            </div>

            <div class="highlight">
                <h3 class="h3">Log Analysis</h3>
                <p class="p">Wrote SQL-oriented scripts for log file analysis and graph generation.</p>
            </div>

            <div class="highlight">
                <h3 class="h3">Server Maintenance</h3>
                <p class="p">Utilized Ansible for batch maintenance operations on the server. Deployed Splunk for log analysis and conducting regular server maintenance.</p>
            </div>
        </div>

        <p class="p">These experiences broadened my <span class="italic">technical toolkit</span> and equipped me with a <span class="italic">comprehensive understanding of system administration and network optimization</span>.</p>
    </section>

    <hr class="divider">

    <!-- Truman State University – Admission Office -->
    <section class="experience-details">
        <h2 class="h2">Truman State University – Admission Office (Jan 2021 – Spring 2023)</h2>
        <p class="p italic">During my tenure at the Admission Office, I actively contributed to the university's growth by:</p>

        <div class="experience-highlights">
            <div class="highlight">
                <h3 class="h3">Admissions Management</h3>
                <p class="p">Managed the admissions process and reviewed international applications.</p>
            </div>

            <div class="highlight">
                <h3 class="h3">Applicant Support</h3>
                <p class="p">Addressed queries from prospective applicants and provided valuable information.</p>
            </div>

            <div class="highlight">
                <h3 class="h3">Recruitment Initiatives</h3>
                <p class="p">Assisted with recruitment initiatives through webinars and interviews.</p>
            </div>
        </div>

        <p class="p">These experiences in the Admission Office enhanced my <span class="italic">interpersonal skills</span> and provided valuable insights into the <span class="italic">administrative side of educational institutions</span>.</p>
    </section>
</body>
