@page "/"
<PageTitle>Home</PageTitle>
<!-- Header Section -->
<Animate Anchor="#b-animate" Auto Animation="Animations.FadeUp" DelayMilliseconds="500">
<header class="header" @key="1">
    <h1 class="header h1">Hengyi Li</h1>
    <p class="header p">Master of Computer Science | GFW Security Analyst | Dreamer | Coder | Content Creator </p>
</header>
</Animate>
<body class="body">
    <Animate Anchor="#b-animate" Auto Animation="Animations.SlideLeft">
    <CardDeck>
    <!-- About Me Section -->   
        <Card Background="Background.Dark">
            <CardHeader>
                <h2 className="h2">About Me</h2>
            </CardHeader>
            <CardBody>
                <CardText>
                    Hello, this is Miles Lee, a passionate Computer Science graduate student at the University of California – Davis, specializing in GFW Security Analysis.
                    With a solid academic foundation from Truman State University, where I majored in Computer Science, I have honed my skills in a diverse range of programming languages and technologies.
                </CardText>
            </CardBody>
        </Card>
    <!--Project Section-->
        <Card Background="Background.Dark">
            <CardHeader>
                <h2 className="h2">Projects</h2>
            </CardHeader>
            <CardBody>
                <CardText>
                    I have worked on a variety of projects, including a web-based application for a local business, a mobile app for a non-profit organization, and a game for a class project.
                </CardText>
            </CardBody>
        </Card>
    <!-- Skills Section -->
        <Card Background="Background.Dark">
            <CardHeader>
                <h2 className="h2">Skills</h2>
            </CardHeader>
            <CardBody>
                <CardText>
                    <ul className="ul">
                        <li className="li">Programming Languages: Swift, Java, Python, C/C++, C#, JavaScript, HTML, CSS, SQL, PHP, Bash</li>
                        <li className="li">Technologies: Git, Docker, gem5, Kubernetes, AWS, Azure, Visual Studio, Visual Studio Code, JUnit, Slack, Microsoft Office, Adobe Creative Suite</li>
                        <li className="li">Operating Systems: Windows, Linux, MacOS</li>
                        <li className="li">Languages: English, Mandarin Chinese</li>
                    </ul>
                </CardText>
            </CardBody>
        </Card>
    </CardDeck>
    </Animate>

</body>
<!-- Footer Section -->
<Animate Anchor="#b-animate" Auto Animation="Animations.FadeIn" DelayMilliseconds="1000">
<footer class="footer" @key="6">
        <p> Email: trdli@ucdavis.edu | GitHub: github.com/TheRealMilesLee | LinkedIn: linkedin.com/in/hengyi-li-968744191</p>
        <br />
        <p>&copy; 2024 Hengyi Li. All rights reserved.</p>
</footer>
</Animate>

@code 
{
}