@page "/Skills"
<!-- Skills Section -->
<PageTitle>Computer Skills</PageTitle>
<body class="body">
    <h1 class="h1">Computer Skills</h1>

    <section class="skills-section">
        <div class="skill-category">
            <h2 class="h2">Programming Languages</h2>
            <p class="p">
                My proficiency in various programming languages is not just a skill set; it's a journey. 
                Proficient in Bash, C/C++, Java, Swift, Python, SQL, JavaScript (JS), PHP, CSS, HTML, and MIPS.
            </p>
            <br />
            <p class="p">
                Specializing in Swift, C/C++, Java, and Bash, I've translated this proficiency into meaningful contributions within open-source communities, showcasing my commitment to fostering collaborative development.
            </p>
            <br />
            <p class="p">
                My extensive experience has not only honed my technical skills but also highlighted my adaptability and versatility, demonstrated through diverse projects across different languages.
            </p>
        </div>

        <div class="skill-category">
            <h2 class="h2">Version Control</h2>
            <p class="p">
                Establishing my GitHub account in 2018 marked the inception of my journey into version control. Beyond being a practice, it has become a cornerstone in my approach to collaborative development.
                Proficient in Git, I've mastered the art of versioning, seamlessly navigating through branches, executing merges, and orchestrating collaborative workflows.
            </p>
            <br />
            <p class="p">
                My commitment to version control extends beyond the technical nuances. It's about fostering a culture of collaboration, ensuring code integrity, and facilitating a smooth, cohesive development process.
                My experience in version control not only reflects technical proficiency but also underscores the importance of efficient collaboration in modern software development.
            </p>
        </div>


        <div class="skill-category">
            <h2 class="h2">System and Tools</h2>
            <p class="p">
                A Linux enthusiast, I've navigated the intricacies of Ubuntu, configuring and optimizing systems for seamless performance. 
                Beyond individual languages, I've ventured into server setup and maintenance, utilizing Splunk for data analysis, Ansible for server cluster maintenance, and Nginx for load balancing. 
                My deep understanding extends into the security realm, reflecting my commitment to safeguarding digital ecosystems.
            </p>
        </div>

        <div class="skill-category">
            <h2 class="h2">Collaboration and Leadership</h2>
            <p class="p">
                A seasoned team player, I leverage tools like Zoom, Slack, Microsoft Teams, and Google Docs to enhance communication and collaboration. 
                <br />I've led teams to successful project completions, such as the WeChat Mini Program (GitHub: <a href="https://github.com/The-Fabulous-Truman-Developer/WechatDeveloper">WechatDeveloper</a>), showcasing my ability to navigate both technical and teamwork challenges.
            </p>
        </div>

        <div class="skill-category">
            <h2 class="h2">Cloud and Containerization</h2>
            <p class="p">
                Beyond local setups, I've personally configured cloud servers and managed Docker clusters, ensuring scalability and efficiency. 
                My hands-on experience in cloud environments adds a layer to my technical skills, ready to tackle the demands of modern computing.
            </p>
        </div>
    </section>
</body>
