/* styles-fluent-page.css */

.page[b-mu7s4iwmfj] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-mu7s4iwmfj] {
    flex: 1;
}

.sidebar[b-mu7s4iwmfj] {
    background: linear-gradient(180deg, rgb(50, 50, 50) 0%, rgb(30, 30, 30) 70%);
    color: #fff;
}

.top-row[b-mu7s4iwmfj] {
    background-color: #333;
    border-bottom: 1px solid #555;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-mu7s4iwmfj]  a,
    .top-row[b-mu7s4iwmfj]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        color: #fff;
    }

        .top-row[b-mu7s4iwmfj]  a:hover,
        .top-row[b-mu7s4iwmfj]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-mu7s4iwmfj]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-mu7s4iwmfj] {
        justify-content: space-between;
    }

        .top-row[b-mu7s4iwmfj]  a,
        .top-row[b-mu7s4iwmfj]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-mu7s4iwmfj] {
        flex-direction: row;
    }

    .sidebar[b-mu7s4iwmfj] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-mu7s4iwmfj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-mu7s4iwmfj]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-mu7s4iwmfj],
    article[b-mu7s4iwmfj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-mu7s4iwmfj] {
    background: lightgray;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-mu7s4iwmfj] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
        color: #555;
    }
