/* styles-fluent-navbar.css */

/* Reset some default styles */
body[b-2lscns3acz], h1[b-2lscns3acz], h2[b-2lscns3acz], p[b-2lscns3acz], ul[b-2lscns3acz], li[b-2lscns3acz] {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Navbar Section */
.navbar-toggler[b-2lscns3acz] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: #fff;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked[b-2lscns3acz] {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row[b-2lscns3acz] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-2lscns3acz] {
    font-size: 1.1rem;
    color: #fff;
}

.bi[b-2lscns3acz] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-2lscns3acz],
.bi-plus-square-fill-nav-menu[b-2lscns3acz],
.bi-list-nested-nav-menu[b-2lscns3acz] {
    fill: #fff;
}

.nav-item[b-2lscns3acz] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-2lscns3acz] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-2lscns3acz] {
        padding-bottom: 1rem;
    }

    .nav-item[b-2lscns3acz]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item[b-2lscns3acz]  a.active {
        background-color: rgba(255, 255, 255, 0.37);
        color: #fff;
    }

    .nav-item[b-2lscns3acz]  .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }

.nav-scrollable[b-2lscns3acz] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-2lscns3acz] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-2lscns3acz] {
        display: none;
    }

    .nav-scrollable[b-2lscns3acz] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
